#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.well {
  margin-top: 25px;
}

.address-holder {
  min-height: 615px;
}

.inner.well {
  background-color: white;
  border: 2px solid grey;
}