#show-contact {
  display: none;
}

.right-col {
  height: 463px;
}

.col-md-6.well {
  color: white;
  background-color:#888888;
}

.bottom {
  margin-bottom: 50px;
  margin-top:15px;
}

a.navbar-brand {
  font-size: 50px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Cherry Cream Soda', cursive;
}
 .titles, .titles-sm{
  font-family: 'Cherry Cream Soda', cursive;
  color: #111111;

}
.titles {
  font-size: 27px;
  margin-top: 5px;
}
.titles-sm {
  font-size: 22px;
}
.modal-titel .modal-content p {
  color:white;
  font-family: 'Cherry Cream Soda', cursive;

}
